.coming-soon {
    display: grid;
    grid-template-areas: "logo" 
                        "hero" 
                        "conten";

    grid-template-rows: rem(84) auto auto;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: 4fr 3fr;
        // grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo hero"
                            "conten hero";
    }

    .logo {
        grid-area: logo;
    }

    &__content {
        text-align: center;
        grid-area: conten;
        gap: rem(29);
        padding-top: rem(66);
        padding-bottom: rem(90);

        @include breakpoint-up(medium) {
            text-align: left;
            gap: rem(43);
        }

        h1 {
            font-size: rem(53);
            color: $darkGrayishRed;
            font-weight: 600;
            letter-spacing: rem(14);
            line-height: 1.1;

            @include breakpoint-up(medium) {
                width: 54%;
                font-size: rem(61);
                letter-spacing: rem(18);
                line-height: 1.3;
            }
    
            span {
                color: $desaturatedRed;
                font-weight: 300;
            }
        }
    
        p {
            color: $desaturatedRed;
            line-height: 1.5;
        }
    }

    &__hero {
        grid-area: hero;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}


.newsletter {

    &__grid {
        display: inline-flex;
    }

    &__email {
        height: rem(48);
        width: rem(280);
        border: 1px $desaturatedRed solid;
        border-radius: rem(24);
        padding-left: rem(25);
        font-family: $ff-josefin;
        transition: 40ms;
        outline: none;

        @include breakpoint-up(medium) {
            width: rem(398);
            height: rem(56);
            border-radius: rem(28);
            padding-left: rem(34);
        }

        &::placeholder {
            color: $desaturatedRed;
            opacity: 80%;
            font-family: $ff-josefin;
        }

        &:focus {
            border: 2px solid $darkGrayishRed;
        }

        &:valid {
            border: 2px solid green;
        }
        // &:invalid {
        //     border: 2px solid $softRed
        // }
    }

    &__button {
        width: rem(64);
        height: rem(48);
        border-radius: rem(24);
        cursor: pointer;
        background-image: $gradientRed;
        border: none;
        justify-content: center;
        margin-left: -50px;
        box-shadow: 5px 31px 45px -7px $desaturatedRed;

        @include breakpoint-up(medium) {
            width: rem(100);
            height: rem(56);
            border-radius: rem(28);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.35);
            opacity: 0;
            width: rem(64);
            height: rem(48);
            border-radius: rem(24);
            transition: opacity 150ms ease-in-out;

            @include breakpoint-up(medium) {
                width: rem(100);
                height: rem(56);
                border-radius: rem(28);
            }
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        svg {
            vertical-align: middle;
        }
    }
}

.container {

    &-px {
        padding-left: rem(33);
        padding-right: rem(33);

        
        @include breakpoint-up(medium) {
            padding-left: rem(66);
            padding-right: rem(66);
        }

        @include breakpoint-up(large) {
            padding-left: rem(166);
            padding-right: rem(166);
        }
    }

    &-py {
        padding-top: rem(66);
        padding-bottom: rem(66);

        @include breakpoint-up(medium) {
        } 
    }
}

